.nanum-gothic-coding-regular {
  font-family: 'Nanum Gothic Coding', monospace;
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Nanum Gothic Coding, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 30px;
  padding: 0;
}

button {
  padding: 10px 20px;
  border-radius: 10px;
  border: 1px solid #676767;
  margin: 20px;
}

button:hover {
  cursor: pointer;
}